# Operating System Files

*.DS_Store
Thumbs.db
*.db

# Build Files #

bin
target
build/
.gradle
gradle/wrapper

# Eclipse Project Files #

.classpath
.project
.settings
.springBeans

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Test files

accessingdataneo4j.db
dependency-reduced-pom.xml
README.html

src/main/webapp/VAADIN/themes/WebBridgeBidding/addons.scss
src/main/webapp/VAADIN/themes/WebBridgeBidding/styles.css
src/main/webapp/VAADIN/themes/WebBridgeBidding/styles.css.gz
src/main/webapp/VAADIN/themes/valo/


bridgeOut.xlsx
gradle/
gradlew
gradlew.bat
local.properties
