$v-font-size: 15px !default;
$v-font-weight: 400 !default;
$v-unit-size: 32px !default;

$blue-color: rgb(230, 255, 255);
$green-color:  rgb(200, 255, 200);
$yellow-color:  rgb(255, 255, 150);
$orange-color: rgb(255, 225, 150);
$rose-color: rgb(255, 230, 255);
$grey-color: rgb(230, 230, 230);


$blue-darkcolor: rgb(200, 255, 255);
$green-darkcolor:  rgb(150, 255, 150);
$yellow-darkcolor:  rgb(255, 255, 120);
$orange-darkcolor: rgb(255, 200, 100);
$rose-darkcolor: rgb(255, 200, 255);
$grey-darkcolor: rgb(200, 200, 200);


@import "../valo/valo.scss";
//@import "styles.scss";

@mixin webbridgebidding {
  @include valo;

 .v-ui {
    background: rgb(238, 255, 204);
  }


/* All buttons have blue caption and some margin */
  .v-button {
    margin: 10px;

    /* A nested selector to increase specificity */
    .v-button-caption {
      color: rgb(51, 153, 255);
    }
  }

.v-label{
//color: rgb(51, 153, 255);
}

.v-menubar {
  background:  rgb(238, 255, 204);
  color: rgb(51, 153, 255);
}


.v-menubar-selected {
color: red;
}
.blue  {
  background-color: $blue-color;
  color: black;
}


.green  {
  background-color: $green-color;
  color: black;
}

.yellow  {
  background-color: $yellow-color;
  color: black;
}

.orange  {
  background-color: $orange-color;
  color: black;
}

.rose  {
  background-color: $rose-color;
  color: black;
}

.grey  {
  background-color: $grey-color;
  color: black;
}

.blueD  {
  background-color: $blue-darkcolor;
  color: black;
}


.greenD  {
  background-color: $green-darkcolor;
  color: black;
}

.yellowD  {
  background-color: $yellow-darkcolor;
  color: black;
}

.orangeD  {
  background-color: $orange-darkcolor;
  color: black;
}

.roseD  {
  background-color: $rose-darkcolor;
  color: black;
}

.greyD  {
  background-color: $grey-darkcolor;
  color: black;
}

  .v-grid-row-stripe > td {
    background-color: transparent;
  }

  .v-grid-cell {
    background-color: transparent;
  }

  .v-grid-row > td {
    background-color: transparent;

  }

  // Header with description
  .v-grid-cell.header-grouped > th {
    background-color: yellow;
    color: red !important;
    text-align: center;
  }

  .v-grid-cell.header-grouped > td {
    background-color: yellow;
    text-align: center;
  }

  // Colors for rows depending on bidType
  .v-grid-row.rowI {
    background-color: $orange-color !important;
  }

  .v-grid-row.rowS {
    //	color: black;
    background-color: $yellow-color !important;
  }

  .v-grid-row.rowF1 {
    //	color: black;
    background-color: $green-color !important;
  }

  .v-grid-row.rowFD {
    //	color: black;
    background-color: $blue-color !important;
  }

  .v-grid-row.rowNF {
    //	color: black;
    background-color: $grey-color !important;
  }

  .v-grid-row.rowBL {
    //	color: black;
    background-color: $rose-color !important;
  }

  .v-grid-row.rowR {
    color: red;
    font-weight: bold;
    font-weight: 900 !important;
    font-family: cursive;
  }

  .v-grid-row.rowIR {
    color: red;
    background-color: $orange-darkcolor !important;
  }

  .v-grid-row.rowSR {
    //	color: black;
    color: red;
    //  font-weight: bold;
    background-color: $yellow-darkcolor !important;
  }

  .v-grid-row.rowF1R {
    //	color: black;
    color: red;
    background-color: $green-darkcolor !important;
  }

  .v-grid-row.rowFDR {
    color: red;
    //	color: black;

    background-color: $blue-darkcolor !important;
  }

  .v-grid-row.rowNFR {
    color: red;
    //	color: black;
    background-color: $grey-darkcolor !important;
  }
  .v-grid-row.rowBLR {
    color: red;
    //	color: black;
    background-color: $rose-darkcolor !important;
  }

  @media (max-width: 1100px) {
    //[width-range~="0px-1100px"]
    .v-grid-bidGrid {
      min-width: 550px;
      width: 100%;
      max-height: 50% !important;
    }
  }

  @media (min-width: 1101px) {
    .v-grid-bidGrid {
      min-width: 500px;
      max-height: 100% !important;
    }
  }



}
