$v-font-size: 15px !default;
$v-font-weight: 400 !default;
$v-unit-size: 32px !default;


@import "../valo/valo.scss";
//@import "styles.scss";

@mixin webbridgebidding {
  @include valo;



.firstmenu .v-menubar-menuitem-highlight {
    background-color: #000040; /* Dark blue */
}





  .v-grid-row-stripe > td {
    background-color: transparent;
  }

  .v-grid-cell {
    background-color: transparent;
  }

  .v-grid-row > td {
    background-color: transparent;

  }

  // Header with description
  .v-grid-cell.header-grouped > th {
    background-color: yellow;
    color: red !important;
    text-align: center;
  }

  .v-grid-cell.header-grouped > td {
    background-color: yellow;
    text-align: center;
  }

  // Colors for rows depending on bidType
  .v-grid-row.rowI {
    background-color: rgb(255, 225, 150) !important;
  }

  .v-grid-row.rowS {
    //	color: black;
    background-color: rgb(255, 255, 150) !important;
  }

  .v-grid-row.rowF1 {
    //	color: black;
    background-color: rgb(200, 255, 200) !important;
  }

  .v-grid-row.rowFD {
    //	color: black;
    background-color: rgb(220, 255, 255) !important;
  }

  .v-grid-row.rowNF {
    //	color: black;
    background-color: rgb(230, 230, 230) !important;
  }

  .v-grid-row.rowBL {
    //	color: black;
    background-color: rgb(255, 230, 255) !important;
  }

  .v-grid-row.rowR {
    color: red;
    font-weight: bold;
    font-weight: 900 !important;
    font-family: cursive;
  }

  .v-grid-row.rowIR {
    color: red;
    background-color: rgb(255, 200, 102) !important;
  }

  .v-grid-row.rowSR {
    //	color: black;
    color: red;
    //  font-weight: bold;
    background-color: rgb(255, 255, 102) !important;
  }

  .v-grid-row.rowF1R {
    //	color: black;
    color: red;
    background-color: rgb(150, 255, 150) !important;
  }

  .v-grid-row.rowFDR {
    color: red;
    //	color: black;

    background-color: rgb(200, 255, 255) !important;
  }

  .v-grid-row.rowNFR {
    color: red;
    //	color: black;
    background-color: rgb(200, 200, 200) !important;
  }
  .v-grid-row.rowBLR {
    color: red;
    //	color: black;
    background-color: rgb(255, 200, 255) !important;
  }

  @media (max-width: 1100px) {
    //[width-range~="0px-1100px"]
    .v-grid-bidGrid {
      min-width: 550px;
      width: 100%;
      max-height: 50% !important;
    }
  }

  @media (min-width: 1101px) {
    .v-grid-bidGrid {
      min-width: 500px;
      max-height: 100% !important;
    }
  }



}
